.prod-list{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-space-between;
}

.prod-box {
  width: 250px;
  float:right;
  margin-left: 1%;
  margin-bottom: 3%;
}


.prod-table{
  border: hidden;
}

.prod-columns{
  border: hidden;
}

.weekname{
  font-weight: bold;
  font-size: 20px;
}

.prod-image:empty{
  border-radius: 20px;
  height:80px;
}

.prod-image:hover {
  position: relative;
  border-radius: 30px;
  animation: fadeEffect 3s;
}

.kp-widget-item-action{
  display: none;
}

.kp-widget-item-action:hover{
  display:inline;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.prod-title {
  color: green;
  font-weight: bold;
  font-size: 20px;
  display: block;
  overflow-wrap: break-word;
  margin: 5px 0;
  webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


.message{
  color: green;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10%;
}
